:root {
    --light-color: #fafafa;
    --light-s-color: #fff;
    --blue-color: #0004ff;
    --dark-color: #000000;
    --accent-color: #fb0202;

}

body {
    background-color: var(--light-color);
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--dark-color);
}

.accent-just {
    color: var(--accent-color);
}

.bold {
    font-weight: 600;
}

.light-bg {
    background-color: var(--light-s-color);
}

.dark-bg {
    background-color: var(--dark-color);
}

.main-bg {
    background-color: var(--light-color);
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.all-img {
    object-fit: cover;
    height: 25em;
    background: center;
}


.image-flash {
    position: absolute;
    bottom: 80%;
    min-width: 30%;
    left: -2px;
    background-color: var(--blue-color);
}

.author {
    color: var(--light-s-color);
    margin: 4px;
    text-transform: uppercase;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: var(--light-s-color);
}

.btn-all {
    background-color: var(--blue-color);
    color: var(--light-s-color);
}

.btn-all:hover,
.btn-all:active {
    background-color: var(--light-s-color);
    color: var(--blue-color)
}


.no-link-style {
    color: inherit;
    text-decoration: none;
}

.btn-liked {
    color: var(--accent-color);
    border: none;
    background: transparent;
}

.btn-like {
    border: none;
    background: transparent;
}

.btn-like:hover {
    color: var(--accent-color);
}

.profile-card {
    background-color: #f8f5f5
}

.profile-post {
    background-color: #f0f0f0
}