<!-- Extends the base template -->
{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<!-- Form that allows user to create a post -->
<div class="py-2 and px-5">
    <form method="post" action="{% url 'create_post' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 text-center">Blog Post</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="pt-3 form-group text-center">
            <button type="submit" class="btn btn-all btn-sizer">Create</button>
        </div>
    </form>
</div>

{% endblock content %}