<!-- Extends the base template -->
{% extends 'base.html' %}

{% block content %}

<!-- Form that allows the user to delete his post  -->
<div class="py-2 and px-5">
    <form method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 text-center">Delete Post</legend>
            <input type="hidden" name="delete" value="True">
        </fieldset>
        <!-- Warning text -->
        <p class="text-danger text-center">Warning: Deleting this post is <b>permanent</b> and <b>cannot</b>
            be undone. Are you sure
            you want to
            <b>delete</b> this post?</p>
        <div>
            <div class="pt-3 form-group text-center">
                <button type="submit" class="btn btn-danger btn-sizer" value="Delete">Delete</button>
            </div>
            <!-- Allows the user to comeback to the post he tried to delete -->
            <div class="pt-3 form-group text-center">
                <a class="btn btn-secondary btn-sm mt-1 mb-1 btn-sizer"
                    href="{% url 'post_detail' post.slug %}">Cancel</a>
            </div>
        </div>
    </form>
</div>

{% endblock content %}