{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="py-2 and px-5">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 text-center">Edit Post</legend>
            {{ form|crispy }}
        </fieldset>
        <div>
            <div class="pt-3 form-group text-center">
                <button type="submit" class="btn btn-all btn-sizer" value="Save">Submit Changes</button>
            </div>
            <div class="pt-3 form-group text-center">
                <a class="btn btn-secondary btn-sm mt-1 mb-1 btn-sizer"
                    href="{% url 'post_detail' post.slug %}">Cancel</a>
            </div>
        </div>
    </form>
</div>

{% endblock content %}