<!-- Extends the base template -->
{% extends 'base.html' %}

{% block content %}

<!-- Container for the profile page content -->
<div class="container mt-4 card-body p-4 shadow-sm bg-white rounded my-3">
    <div class="text-center pb-5">
        <h1>{{ user.username }}'s profile</h1>
    </div>
    <div class="row">
        <!-- Column for the profile content -->
        <div class="col-md-4 card-body p-4 shadow-sm rounded profile-card">
            <!-- Heading with the username -->
            <h1 class="text-center">{{ user.username }}</h1>
            <!--User Image-->
            <div class="d-flex justify-content-center">
                {% if  "placeholder" in user.profile.profile_picture.url %}
                <img src="https://res.cloudinary.com/df6eqqbys/image/upload/v1671873081/w9pr6prqxch8piudggrp.png"
                    alt="Default Profile picture" class="img-fluid rounded-circle">
                {% else %}
                <img src="{{ user.profile.profile_picture.url }}" alt="Profile picture"
                    class="img-fluid rounded-circle">
                {% endif %}
            </div>
            <hr>

            <!-- Display the date when the user joined -->
            <p>Joined on: {{ user.date_joined|date:"F j, Y" }}</p>
            <!-- Display the last time the user entered the website -->
            <p>Last login: {{ user.last_login|date:"F j, Y, g:i a" }}</p>
            <hr>
            <h2 class="text-center">Bio:</h2>
            <p>{{ profile.bio }}</p>
        </div>
        <!-- Column for the posts -->
        <div class="col-md-8 card-body p-4 shadow-sm rounded profile-post">
            <!-- Heading for the posts -->
            <h2 class="mt-5 text-center">Posts:</h2>
            <!-- Conditional block to check if the user has any posts -->
            {% if posts %}
            <!-- List group for the posts -->
            <div class="list-group">
                <!-- Iteration over the posts -->
                {% for post in posts %}
                <!-- List group item for each post -->
                <a href="{% url 'post_detail' slug=post.slug %}"
                    class="list-group-item list-group-item-action text-truncate">{{ post.title }}</a>
                {% endfor %}
            </div>
            {% else %}
            <!-- Message if the user doesn't have any posts -->
            <h3 class="text-center py-5">This user doesn't have any post yet</h3>
            {% endif %}
        </div>
    </div>
    <!-- These buttons are only displayed to the owner of the page, edit profile, change password and delete-->
    {% if is_owner %}
    <div>
        <div class="pt-3 form-group text-center">
            <a href="{% url 'edit' username=user.username %}" class="btn btn-primary btn-sizer ">Edit Profile</a>
        </div>
        <div class="pt-3 form-group text-center">
            <a class="btn btn-primary btn-sizer " href="{% url 'account_change_password'  %}">Change Password</a>
        </div>
        <div class="pt-3 form-group text-center">
            <a href="{% url 'delete_account' %}" class="btn btn-danger btn-sizer ">Delete Account</a>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}